/*
font-family: 'Lobster Two', cursive;

font-family: 'Source Sans Pro', sans-serif;
*/

h1 {
  font-family: 'Lobster Two', cursive;
  color: #f08526;
}

h2, h3, p, footer, li {
  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  font-style: italic;
  line-height: 8px;
}

footer {
  text-align: center;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #f08526;
}

li {
	text-align: left;
	margin: auto;
	width: 35%;
}

.intro, .project, .info {
	margin: auto;
	width: 75%;
	text-align: center;
}

.intro {
	padding-bottom: 50px;
}

.project {
	padding-top: 20px;
	padding-bottom: 30px;
}

nav {
  height: 100%; 
  width: 200px; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #f08526;
  overflow-x: hidden;
  padding-top: 20px;
}

nav a {
  font-family: 'Lobster Two', cursive;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffbf84;
  display: block;
}

nav a:hover, #selected {
  color: #f1f1f1;
}

button {
  border: none;
  background-color: #f08526;
  color: #ffbf84;
  width: 100px;
  height: 50px;
}

.buttons {
	margin: auto;
	width: 15%;
}

.buttons button {
	float: left;
	width: 50px;
	padding-right: 10px; 
	border-radius: 100%;
}

.nav {
	margin-top: 100px;
}

.main {
  margin-left: 200px;
  padding: 0px 10px;
}